<div *ngIf="contatos$ | async as contatos">

  <div *ngIf="contatos.length > 0; else listaVazia">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <th>Nome</th>
        <th>Telefone</th>
        <th></th>
      </thead>

      <tbody>
        <tr *ngFor="let contato of contatos">
          <td>{{ contato.nome }}</td>
          <td>{{ contato.telefone }}</td>
          <td>
            <a class="button is-outlined is-info" [routerLink]="['/contatos/editar', contato.id]">Ver detalhes</a>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

<!--ng-template #loading>
  <progress class="progress is-large is-info" max="100">60%</progress>
</ng-template-->
<ng-template #listaVazia>
  <h1 class="title">Nenhum contato encontrado</h1>
</ng-template>
