<h1 class="title" *ngIf="!contatos.length">Nenhum contato encontrado</h1>

<div class="column is-one-third is-offset-one-third">
  <div class="box">

    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <th>Nome</th>
        <th>Telefone</th>
      </thead>
      <tbody>
        <tr *ngFor="let contato of contatos">
          <td>{{ contato.nome }}</td>
          <td>{{ contato.telefone }}</td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <progress class="progress is-large is-info" max="100">60%</progress>
    </ng-template>

  </div>
</div>
