<form>

  <div class="field">
    <label class="label is-large">Editar Contato</label>
  </div>

  <div class="field">
    <label class="label">Nome</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="nome" name="nome">
    </div>
  </div>

  <div class="columns">

    <div class="column is-half">
      <div class="field">
        <label class="label">Telefone</label>
        <div class="control">
          <input class="input" type="text" [(ngModel)]="telefone" name="telefone">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <label class="label">WhatsApp</label>
        <div class="control">
          <div class="select">
            <select [(ngModel)]="whatsapp" name="whatsapp">
              <option value="true">Sim</option>
              <option value="false">Não</option>
            </select>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="text" [(ngModel)]="email" name="email">
    </div>
  </div>

  <div class="field is-grouped is-grouped-centered">
    <p class="control">
      <button class="button is-info" (click)="editaContato()">
        Editar
      </button>
    </p>
    <p class="control">
      <button class="button is-info" (click)="modal.toggle()">
        Excluir
      </button>

      <app-modal #modal>
        <section class="modal-card-body">
          Tem certeza que deseja excluir o contato {{ nome }}?
        </section>
        <footer class="modal-card-foot">
          <button class="button is-info" (click)="excluiContato(); modal.toggle()">Sim</button>
          <button class="button" (click)="modal.toggle()">Não</button>
        </footer>
      </app-modal>

    </p>
  </div>

</form>
