<app-contato-form *ngIf="contatoForm" [contatoForm]="contatoForm" [tipoForm]="tipoForm">

  <app-editar-endereco [erroEndereco]="erroEndereco"></app-editar-endereco>

  <div class="field is-grouped is-grouped-centered">
    <p class="control">
      <button class="button is-info" (click)="editaContato()">
        Editar
      </button>
    </p>
    <p class="control">
      <button class="button is-info" (click)="excluir.toggle()">
        Excluir
      </button>
    </p>
  </div>

  <app-modal #excluir>
    <div class="modal-card">
      <section class="modal-card-body">
        Tem certeza que deseja excluir o contato?
      </section>
      <footer class="modal-card-foot">
        <button class="button is-info" (click)="excluiContato(); excluir.toggle()">Sim</button>
        <button class="button" (click)="excluir.toggle()">Não</button>
      </footer>
    </div>
  </app-modal>

</app-contato-form>
