<div class="content">

  <div class="columns">
    <div class="column is-9">
      <h4>Endereços</h4>
    </div>
    <div class="column is-3">
      <button class="button is-info is-outlined" (click)="novoEndereco.toggle()">Adicionar</button>
    </div>
  </div>

  <p *ngIf="enderecos.length == 0">Nenhum endereço cadastrado</p>

  <div *ngFor="let endereco of enderecos">
    <ul>
      <div class="columns">
        <div class="column is-9">
          <li>
            R. {{ endereco.rua }}, {{ endereco.numero }} - {{ endereco.bairro }} - {{ endereco.uf }}, {{ endereco.cep |
            mask: '00000-000' }}
          </li>
        </div>
        <div class="column is-3">
          <button class="button is-small">Remover</button>
        </div>
      </div>
    </ul>
  </div>
</div>

<app-modal #novoEndereco>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Novo endereço</p>
      <button class="delete" (click)="novoEndereco.toggle()"></button>
    </header>
    <section class="modal-card-body">

      <form *ngIf="novoEnderecoForm" [formGroup]="novoEnderecoForm">
        <div class="field">
          <label class="label">Rua</label>
          <div class="control">
            <input class="input" type="text" name="rua" formControlName="rua" placeholder="Nome da rua">
            <app-mensagem *ngIf="novoEnderecoForm.get('rua')?.errors &&
              novoEnderecoForm.get('rua')?.touched" mensagem="Informe a rua"></app-mensagem>
          </div>
        </div>

        <div class="field">
          <label class="label">Bairro</label>
          <div class="control">
            <input class="input" type="text" name="bairro" formControlName="bairro" placeholder="Nome do bairro">
            <app-mensagem *ngIf="novoEnderecoForm.get('bairro')?.errors &&
              novoEnderecoForm.get('bairro')?.touched" mensagem="Informe o bairro"></app-mensagem>
          </div>
        </div>

        <div class="columns">

          <div class="column is-one_third">
            <div class="field">
              <label class="label">Número</label>
              <div class="control">
                <input class="input" type="text" name="numero" formControlName="numero" mask="0*"
                  placeholder="Número da casa">
                <app-mensagem *ngIf="novoEnderecoForm.get('numero')?.errors &&
                  novoEnderecoForm.get('numero')?.touched" mensagem="Informe o número da casa"></app-mensagem>
              </div>
            </div>
          </div>

          <div class="column is-one_third">
            <div class="field">
              <label class="label">UF</label>
              <div class="select">
                <select name="uf" formControlName="uf">
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espírito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
                  <option value="EX">Estrangeiro</option>
                </select>
              </div>
            </div>
          </div>

          <div class="column is-one_third">
            <div class="field">
              <label class="label">CEP</label>
              <div class="control">
                <input class="input" type="text" name="cep" formControlName="cep" mask="00000-000"
                  placeholder="00000-000">
                <app-mensagem *ngIf="novoEnderecoForm.get('cep')?.errors &&
                  novoEnderecoForm.get('cep')?.touched" mensagem="Informe o CEP"></app-mensagem>
              </div>
            </div>
          </div>

        </div>
      </form>

    </section>
    <footer class="modal-card-foot">
      <button class="button is-info" (click)="guardaEndereco(); novoEndereco.toggle()">Salvar</button>
      <button class="button" (click)="novoEndereco.toggle()">Cancelar</button>
    </footer>
  </div>
</app-modal>
