<div class="field">
  <label class="label">Rua</label>
  <div class="control">
    <input class="input" type="text" [(ngModel)]="rua" name="rua">
  </div>
</div>

<div class="field">
  <label class="label">Bairro</label>
  <div class="control">
    <input class="input" type="text" [(ngModel)]="bairro" name="bairro">
  </div>
</div>

<div class="columns">

  <div class="column is-one_third">
    <div class="field">
      <label class="label">Número</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="numero" name="numero">
      </div>
    </div>
  </div>

  <div class="column is-one_third">
    <div class="field">
      <label class="label">UF</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="uf" name="uf">
      </div>
    </div>
  </div>

  <div class="column is-one_third">
    <div class="field">
      <label class="label">CEP</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="cep" name="cep">
      </div>
    </div>
  </div>

</div>

<div class="field"></div>
