<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <span class="icon is-left">
        <i class="fa-solid fa-address-book"></i>
      </span>
      <strong>AGENDA</strong>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['']">
        Início
      </a>

      <a class="navbar-item">
        Novo Contato
      </a>
    </div>

    <div class="navbar-end">

      <div class="navbar-item">
        <div class="buttons" *ngIf="usuario$ | async as usuario">

          <div *ngIf="usuario.login">

            <span class="button is-static">
              <span class="icon is-small">
                <i class="fa-solid fa-circle-user"></i>
              </span>
              <span>{{ usuario.login }}</span>
            </span>

            <a class="button is-info is-light" (click)="logout()">
              Logout
            </a>

          </div>

        </div>
      </div>

    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Add a click event on each of them
    $navbarBurgers.forEach(el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });

  });
</script>

<div class="column is-one-third is-offset-one-third">
  <div class="box">

    <router-outlet></router-outlet>

  </div>
</div>
