<div class="content">

  <div class="columns">
    <div class="column is-9">
      <h4>Endereços</h4>
    </div>
    <div class="column is-3">
      <button class="button is-info is-outlined" (click)="endereco.toggle(); retiraErroEndereco()">Adicionar</button>
    </div>
  </div>

  <p *ngIf="enderecos.length == 0">Nenhum endereço cadastrado</p>
  <code *ngIf="erroEndereco">Por favor, cadastre pelo menos um endereço</code>

  <div *ngFor="let endereco of enderecos">
    <ul>
      <div class="columns">
        <div class="column is-9">
          <li>
            R. {{ endereco.rua }}, {{ endereco.numero }} - {{ endereco.bairro }} - {{ endereco.uf }}, {{ endereco.cep |
            mask: '00000-000' }}
          </li>
        </div>
        <div class="column is-3">
          <button class="button is-small" (click)="removeEndereco(endereco)">Remover</button>
        </div>
      </div>
    </ul>
  </div>
</div>

<app-modal-endereco #endereco>
  <header class="modal-card-head">
    <p class="modal-card-title">Novo endereço</p>
    <button class="delete" (click)="endereco.toggle()"></button>
  </header>
  <section class="modal-card-body">

    <form [formGroup]="enderecoForm">

      <code *ngIf="mostraMsgErro">Preencha os campos corretamente</code>

      <div class="field">
        <label class="label">Rua</label>
        <div class="control">
          <input class="input" type="text" name="rua" formControlName="rua" placeholder="Nome da rua">
          <app-mensagem *ngIf="enderecoForm.get('rua')?.errors &&
              enderecoForm.get('rua')?.touched" mensagem="Informe a rua"></app-mensagem>
        </div>
      </div>

      <div class="field">
        <label class="label">Bairro</label>
        <div class="control">
          <input class="input" type="text" name="bairro" formControlName="bairro" placeholder="Nome do bairro">
          <app-mensagem *ngIf="enderecoForm.get('bairro')?.errors &&
              enderecoForm.get('bairro')?.touched" mensagem="Informe o bairro"></app-mensagem>
        </div>
      </div>

      <div class="columns">

        <div class="column is-one_third">
          <div class="field">
            <label class="label">Número</label>
            <div class="control">
              <input class="input" type="text" name="numero" formControlName="numero" mask="0*"
                placeholder="Número da casa">
              <app-mensagem *ngIf="enderecoForm.get('numero')?.errors &&
                  enderecoForm.get('numero')?.touched" mensagem="Informe o número da casa"></app-mensagem>
            </div>
          </div>
        </div>

        <div class="column is-one_third">
          <div class="field">
            <label class="label">UF</label>
            <div class="select">
              <select name="uf" formControlName="uf">
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                <option value="EX">Estrangeiro</option>
              </select>
            </div>
          </div>
        </div>

        <div class="column is-one_third">
          <div class="field">
            <label class="label">CEP</label>
            <div class="control">
              <input class="input" type="text" name="cep" formControlName="cep" mask="00000-000"
                placeholder="00000-000">
              <app-mensagem *ngIf="enderecoForm.get('cep')?.errors &&
                  enderecoForm.get('cep')?.touched" mensagem="Informe o CEP"></app-mensagem>
            </div>
          </div>
        </div>

      </div>
    </form>

  </section>
  <footer class="modal-card-foot">
    <button class="button is-info" (click)="salvaEndereco()">Salvar</button>
    <button class="button" (click)="endereco.toggle()">Cancelar</button>
  </footer>
</app-modal-endereco>
